<!DOCTYPE html>
<html>

<head>
    <%- include('partials/header'); -%>
        <title>Scheduler</title>
</head>

<body class="bg-dark text-white">
    <h1 class="text-center m-3">Scheduler</h1>
    
    <div class="d-flex mx-auto justify-content-center">
        <div class="shadow p-5">
            <div class="form-group">
                <label for="usernameInput">Username</label>
                <input type="text" class="form-control" id="usernameInput" placeholder="Enter username" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Password" required>
            </div>
            <div class="text-center">
                <div><button id="signIn" class="btn btn-primary">Sign In</button></div>
                <div><p class="m-2">or</p></div>
                <div><button id="createAccount" class="btn btn-primary">Create Account</button></div>
            </div>
        </div>
    </div>
    
    <div class="d-flex mx-auto justify-content-center">
        <div class="alert alert-danger d-none" role="alert" id="usernameError">
            Username already taken!
        </div>
        <div class="alert alert-danger d-none" role="alert" id="loginError">
            Invalid login details
        </div>
        <div class="alert alert-success d-none" role="alert" id="welcomeNewAccount">
            Welcome! Please sign in to your new account to start using Scheduler.
        </div>
    </div>
    
    <%- include('partials/footer'); -%>
</body>

<script>
    $(document).on('click', '#createAccount', function(e) {
        var username = $("#usernameInput").val();
        var password = $("#passwordInput").val();
        $.ajax({
                method: "POST",
                url: "/createAccount",
                dataType: "json",
                headers: {
                    "username": username,
                    "password": password
                },
                data: {
                    "username": username,
                    "password": password
                }
            })
            .done(function(results) {
                console.log(results);
                if (results.newUser){
                    $('#welcomeNewAccount').toggleClass("d-none");
                }
            });
    });
    
    $(document).on('click', '#signIn', function(e) {
        var username = $("#usernameInput").val();
        var password = $("#passwordInput").val();
        $.ajax({
                method: "POST",
                url: "/signIn",
                dataType: "json",
                headers: {
                    "username": username,
                    "password": password
                },
            })
            .done(function(results) {
                console.log(results);
                if (results.success == false){
                    $('#loginError').toggleClass("d-none");
                } else {
                    window.location.href = "dashboard"
                }
            });
    });
</script>

</html>
